00-get-svo-files/data/
01-get-pc/data/
02-annotations/data/
03-model/data/
04-get-mask/data/
05-scale-mask/data/
06-crop-pc/data/
07-filter-bad-leaves/data/
08-get-midline/data/
09-get-edge-points/data/
10-get-width/data/
11-get-area/data/
backupdataincase/

03-model/validation/
04-get-mask/validation/
01-get-pc/validation/