5_cropped_point_cloud_test.csv
5_cropped_point_cloud.csv
full_data_full.csv
full_data.csv
mask.txt
pc.txt

1_get_data/2023-01-30_11.00.00_png_ultra.svo
1_get_data/2023-01-30_11.00.00_png_ultra.svo_cpc.npy
1_get_data/2023-01-30_11.00.00_png_ultra.svo_pc.npy
1_get_data/2023-01-30_11.00.00_png_ultra.svo_L.jpg

