00-get-svo-files/data/
01-get-pc/data/
02-pointcloud-projection/data/
03-annotations/data/
04-model/data/
05-get-mask/data/
06-scale-mask/data/
07-crop-pc/data/
08-filter-bad-leaves/data/
09-get-midline/data/
10-get-edge-points/data/
11-get-width/data/
12-get-area/data/

03-annotations/new_data/

04-model/src/Mask_RCNN/


.vscode/



supplementary/Old Thesis Project with Aaron/
supplementary/Progress Reports/
supplementary/Project Data/
supplementary/Random Notes/
supplementary/Survey/
